.avatar1 img{
  /* width: 100%; */
  width: 198px !important;
    margin-left: 419px !important;
}

.avatar2 img{
  /* width: 100%; */
  width: 198px !important;
    margin-left: 419px !important;
}
.avatar3 img{
  /* width: 100%; */
  width: 198px !important;
    margin-left: 419px !important;
}